*{
     font-family: "Poppins", sans-serif;
  font-style: normal;
    color:#BD0F97;
    padding: 0px;
    margin: 0px;
}

body{
    background: url("./assets/faded_gallery-JEludq8wsD8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 9px;


}
::-webkit-scrollbar-thumb{
    background-color: #BD0F97;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: #0c010a;
}


/* navbar-styling */


ul {
    list-style-type: none;
}

  nav a{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #BD0F97;
    transition: 0.8s;
}

  nav a:hover{
    font-size:15px ;
    color: #f9f6f8;
}


 #underline{
    position: relative;
    left: 590px;
    border-radius: 20px;
    border: 1px solid #eb78d2  ;
    background-color:#f26ad4 ;
    height: 8px;
    width: 100px;
    margin-top: 20px;
 }   


header h1{
     font-family: "Zen Dots", sans-serif;
    
}



/* hero-section-styling */
section{
    background: rgba(84, 78, 78, 0.274);
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-shadow:  40px rgba(0, 0, 0, 0.1);
     border-radius: 15px;
}


#hero-left{
    padding-top: 100px;
}

#hero-left h1{
    font-size: 75px;
    color: rgb(255, 255, 255);
        font-family: "Zen Dots", sans-serif;
}


#hero-left i{
    
    border-radius: 20px;
    position: relative;
    left: 200px;
    top: 50px;
    font-size: 50px;
    transition: 1s;

}

#hero-left i:hover{
    border-radius: 20px;
    background-color: #BD0F97;
    color: white;
     font-size: 60px;


}

.animated-image{
     position: relative;
    top: -380px;
    left: 390px;
    height: 60px;
    transition: 7s;
    animation: rotation1 7s infinite;
}

.animated-image2{
    position: relative;
    top: -300px;
    right: -50px;
    height: 50px;
    transition: 7s ;
    animation: rotation2 7s infinite ;
    
}

.animated-image3{
   position: relative;
    top: -300px;
      left: 300px;
    height: 30px;
    transition: 1s;
    animation: rotation3 7s infinite;
    
}


@keyframes rotation1 {
    0% {
        transform: rotate(56deg);
    }
      25% {
        transform: rotate(-65deg);
    }
      75% {
        transform: rotate(45deg);
    }
      100% {
        transform: rotate(56deg);
    }
    
}



@keyframes rotation2 {
    0% {
        transform: rotate(-75deg);
    }
      25% {
        transform: rotate(25deg);
    }
      75% {
        transform: rotate(-45deg);
    }
      100% {
        transform: rotate(-75deg);
    }
    
}


@keyframes rotation3 {
    0% {
        transform: rotate(-25deg);
    }
      25% {
        transform: rotate(25deg);
    
    }
      75% {
        transform: rotate(-45deg);
    }
      100% {
        transform: rotate(-25deg);
    }
    
}
     


  
     



/* skills-section styling */


#skills i,p{
    color: white;
}

#skills i{
    font-size: 125px;
    padding-left: 100px;
}

